.main-col{
    margin-top: 6em;
}
.text-welcome{
    font-weight: 300;
}
.api-create{
    margin-top: 30px;
}
.step-label {
    font-weight: 300;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    line-height: 1.35417em;
}
.radio-group{
    margin-left: 0px;
}
.option-action{
    margin-top: 1.5em;
}
.option-content{
    width: 100%;
    margin-bottom: 1em;
    margin-right: .5em;
}
.option-content-50{
    width: 45%;
}